.dayView table {
  width: 100%;
}

.dayView table tr td {
  border-bottom: 1px solid #eee;
}
.dayView table tr td.noBorder {
  border-bottom: none;
}

.dayView table tr td.time {
  font-size: 11px;
  vertical-align: top;
  height: 15px;
  padding: 0;
  min-width: 60px;
  box-sizing: border-box;
  position: sticky;
  left: 0;
  background: #fff;
  z-index: 2;
}

.dayView table tr td {
  border-right: 1px solid #eee;
}

.dayView table th:not(:first-child), .dayView table td:not(:first-child) {
  min-width: 200px;
}

.dayView table thead {
  background: #495668;
  color: #fff;
}

.dayView table th {
  padding: 5px;
}

.dayView table tr td .event,.dayView .onDrag .event {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background: #7cb342;
  color: #ffffff;
  padding: 5px;
  border-radius: 5px;
  z-index: 1;
  box-shadow: 0px 1px 8px 0px rgba(80, 80, 80, 0.2), 0px 3px 4px 0px rgba(80, 80, 80, 0.14), 0px 3px 3px -2px rgba(80, 80, 80, 0.12);
  cursor: pointer;
  overflow: hidden;
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dropzone {
  background: rgba(27, 168, 240, 0.1);
}
