.monthView table {
  width: 100%;
  min-height: 600px;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
  table-layout: fixed;
}

.monthView table thead {
  background: #495668;
  color: #fff;
}

.monthView table th {
  padding: 5px;
}

.monthView table tr {
  vertical-align: top;
}

.monthView table tr td {
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  min-width: 100px;
}

.monthView table tr td .event {
  background: #495668;
  color: #fff;
  width: 1.5vw;
  height: 1.5vw;
  font-size: 0.8vw;
  display: flex;
  margin-right: 0.3vw;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.disabled {
  background: #f5f5f5;
}

.dropzone {
  background: rgba(27, 168, 240, 0.1);
}

.onDrag .event {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  /*background: #7cb342;*/
  background: #495668;
  color: #ffffff;
  padding: 5px;
  border-radius: 5px;
  z-index: 1;
  box-shadow: 0px 1px 8px 0px rgba(80, 80, 80, 0.2), 0px 3px 4px 0px rgba(80, 80, 80, 0.14), 0px 3px 3px -2px rgba(80, 80, 80, 0.12);
  cursor: pointer;
  overflow: hidden;
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
