.root {
  /*margin: 20px;*/
}

.root .calendar {
  margin: 20px 0;
}

.container {
  width: 100%;
  overflow: auto;
}

.container table {
  margin: 0;
  font-size: 10px;
  border-spacing: 0;
}

.container table thead {
  margin: 0;
  font-size: 14px;
}

.currentTime {
  position: absolute;
  height: 2px;
  background: #ea4335;
  top: 40px;
  right: 0;
  left: 55px;
  z-index: 5;
}
.currentTime .dot {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: -4px;
  background: #ea4335;
}
