.weekView table {
  width: 100%;
}

.weekView table tr td {
  border-bottom: 1px solid #eee;
}
.weekView table tr td.noBorder {
  border-bottom: none;
}

.weekView table tr td.time {
  font-size: 11px;
  vertical-align: top;
  height: 15px;
  padding: 0;
  min-width: 60px;
  box-sizing: border-box;
  position: sticky;
  left: 0;
  background: #fff;
  z-index: 2;
}

.weekView table tr td {
  border-right: 1px solid #eee;
  /*overflow: hidden;*/
}

.weekView table thead {
  background: #495668;
  color: #fff;
}

.weekView table th {
  padding: 5px;
}

.weekView table tr td .event.circle {
  background: #495668;
  color: #fff;
  width: 1.4vw;
  height: 1.4vw;
  font-size: 0.8vw;
  display: flex;
  margin-right: 0.3vw;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.onDrag .event {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  /*background: #7cb342;*/
  background: #495668;
  color: #ffffff;
  padding: 5px;
  border-radius: 5px;
  z-index: 1;
  box-shadow: 0px 1px 8px 0px rgba(80, 80, 80, 0.2), 0px 3px 4px 0px rgba(80, 80, 80, 0.14), 0px 3px 3px -2px rgba(80, 80, 80, 0.12);
  cursor: pointer;
  overflow: hidden;
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dropzone {
  background: rgba(27, 168, 240, 0.1);
}
